<%= stylesheet_pack_tag 'touring' %>

<div class="container">
  <div class="container-square mt-4 mb-4" id="about">
    <h3>「RidersLink」</h3>
    <br>
    <p>一緒にツーリングに行くメンバーの多くは、学生時代・職場などで知り合った知人・友人だと思います。</p>
    <br>
    <p>都合が合わず友人と会えなかったり、周りにバイク乗りがいない。</p>
    <br>
    <p>ツーリングサークルに入るのは気が進まないが、誰かとツーリングに行きたい。</p>
    <br>
    <p>そんな人達を繋げるプラットフォームを作りたいという想いで作成しました。</p>
  </div>
</div>

