/* トップページ */
.home-visual {
  background-image: url("../images/top_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  height: 800px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.home-visual:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.home-visual h1 {
  font-size: 5em;
}

@media (max-width: 768px) 
{
  .home-visual h1 {
    font-size: 3.5em;
  }

  .home-visual h2 {
    font-size: 1.5rem;
  }
}

.home-visual h1,h2 {
  position: relative;
  font-weight: bold;
  font-family: cursive;
  text-align: center;
  text-shadow:1px 0 10px white;
}

.fa-motorcycle {
  filter:drop-shadow(1px 0 10px white);
}

.top-content h1 {
  margin-top: 125px;
}

.navbar-brand {
  font-weight: bold;
  font-family: cursive;
  font-size: 1.8rem;
  color: black;
}

.home-visual a:hover {
  text-decoration: none;
}

@media (max-width: 768px) 
{
  #about h3 {
    font-size: 2.5em;
  }

  #about p {
    font-size: 1em;
  }
}

#about p {
  font-weight: bolder;
}

/* ホーム画面 */

.index-container-square {
  border-radius: 15px;
  padding: 5px;
  background: #fff;
}

.center {
  text-align: center;
}

h3 {
  font-size: 3em;
  letter-spacing: -1px;
  text-align: center;
  margin: 0;
}

textarea.form-control {
  height: auto;
}

@media (min-width: 768px) 
{
  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

}

.event_wrapper {
  padding: 5px;
  border-bottom: solid #f3f3f3 1px;
}

.event_title p,a {
  font-weight: bolder;
  text-align: left;
  color: #337ab7;
}

.event_title a:hover {
  opacity: 0.5;
  text-decoration: none;
}

.event_detail {
  line-height: 20px;
}

.event_detail .info {
  font-weight: bold;
}

#edit-event-btn {
  text-align: right;
}

.alert {
  padding: 0;
  margin-bottom: 0;
}

.alert-danger {
  border-radius: 15px;
}

.event-detail .info {
    font-weight: bold;
}

.event-detail {
  line-height: 20px;
}

.modal-title {
  font-weight: bolder;
}

.modal-footer .info {
  font-weight: bolder;
}

#my_touring {
  overflow-y: auto;
  height: 450px;
}

#event_index{
  overflow-y: auto;
  height: 560px;
}

@media (max-width: 768px) 
{
  #my_touring {
    overflow-y: auto;
    height: 350px;
  }
  
  #event_index{
    overflow-y: auto;
    height: 400px;
  }
}

.container-square h4 {
  border-bottom: solid #f3f3f3 1px;
}

/*  検索画面 */
.panel-body > .form-inline >.form-group > .col-sm-10 >.form-control {
  width: 40%;
}

@media (max-width: 768px) 
{
  .panel-body > .form-inline >.form-group > .col-sm-10 >.form-control {
    width: 100%;
  }
}

.card-header {
  padding: 5px;
}

.card-body {
  background-color: #fff;
  border-radius: 0.25rem;
}

#card-heading a[data-toggle="collapse"]{
  text-decoration: none;
  text-align: center;
}

#card-heading a[data-toggle="collapse"]:hover{
  background: #e7e7e7;
}

#card-heading a[data-toggle="collapse"]::after{
  content:"";
  display: block;
  width: 8px;
  height: 8px;
  border-top: #666 1px solid;
  border-right: #666 1px solid;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
#card-heading a[aria-expanded=false]::after{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-duration: 0.3s;
}
#card-heading a[aria-expanded=true]::after{
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  transition-duration: 0.3s;
}

/* チャット画面-メッセージ欄 */
.chat-user-list h1{
  font-size: 1.1rem;
  text-align: center;
  border-bottom: solid #f3f3f3 1px;
  font-weight: bolder;
}

.chat-square {
  border-radius: 15px;
  padding: 5px;
  background: #fff;
}

.chat-square h1{
  font-size: 1.1rem;
  text-align: center;
  border-bottom: solid #f3f3f3 1px;
  font-weight: bolder;
}

#chat-scroll {
  overflow-y: auto;
  height: 500px;
}

@media (max-width: 768px) 
{
    #chat-scroll {
    height: 400px;
    }
}

.message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  height: auto;
}
.message-sender {
  width: auto;
  height:fit-content;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
}

.message-font {
  font-size: 14px;
  text-shadow: 0 1px 1px;
  text-align: left;
  word-wrap: break-word;
}
.message-info {
  font-size: 8px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 1px;
  color: #747474;
}

.message-sender-position {
  float: right;
  display: inline-flex;
}

.message-receiver {
  width: auto;
  background: #87ceeb;
  border-radius: 10px 10px 10px 0;
  padding: 4px 10px 7px !important;
}

/* チャット画面-ユーザー欄 */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-default-icon{
  font-size: 50px;
  text-align: center;
  color: darkgray;
  display: inline-table;
}

.user-list {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.user-list-name a{
  float: left;
  padding-left: 5px;
  font-weight: bold;
  color: #2f3337;
  text-decoration: none;
}
.user-list-name a:hover {
	opacity: 0.5;
}

/* マイページ */
#update-day {
  color: darkgray;
}

@media (max-width: 768px) 
{
    #update-day {
      font-size: 13px;
    }
}

.profile-icon {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) 
{
    .profile-contents {
      padding-left: 25px;
    }
}

.avatar-plofile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 20px;
}

.default-icon{
  font-size: 75px;
  text-align: center;
  color: darkgray;
  display: inline-table;
}

.profile-icon h2 {
  font-family: auto;
} 

.profile-detail .info {
  font-weight: bold;
}

.profile-edit-link {
  float: right;
}

.profile-edit-link a{
  color: #2f3337;
  text-decoration: none;
}

.profile-edit-link a:hover {
	opacity: 0.5;
}

.profile-footer {
  float: right;
  overflow: auto;
  margin-top: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

#follow_form {
  padding: 0 10px;
}

.stats {
  display: inline-flex;
  padding-left: 5px;
}

.stats a {
  padding: 0 10px;
  border-left: 1px solid #eeeeee;
  color: gray;
  text-decoration: none;
}

@media (max-width: 768px) 
{
    .stats a {
      font-size: 0.8rem;
    }
}

.stats a:hover {
  opacity: 0.5;
}

.stats strong {
  display: block;
}

/* フォロー中・フォロワー一覧 */
.profile-name h3 {
  text-align: left;
  line-height: 80px;
}

.profile-header > .row {
  align-items: center;
}


@media (max-width: 768px) 
{
  .profile-header > .row > .avatar-plofile {
    width: 80px;
    height: 80px;
  }
  .profile-header > .row > .profile-name h3{
    font-size: 2em;
  }
}

.index-wrapper {
  height: 60px;
  line-height: 60px;
  border-bottom: solid #f3f3f3 1px;
}

.line1 {
  padding-right: 45px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.gray {
  color: darkgray;
}

.index-name a{
  color: #2f3337;
  text-decoration: none;
}

.index-name a:hover {
  opacity: 0.5;
}

.index-wrapper > .col-xs-8 {
  width: 60%;
}

.index-wrapper > .col-xs-4 {
  width: 40%;
}