<%= stylesheet_pack_tag 'touring' %>

  <% if user_signed_in? %>
    <h1><a href="/home" class="navbar-brand" id="brand-logo-footer" >Riders<i class="fas fa-motorcycle"></i></a></h1>
  <%else%>
    <h1><a href="/" class="navbar-brand" id="brand-logo-footer" >Riders<i class="fas fa-motorcycle"></i></a></h1>
  <%end%>