<%= stylesheet_pack_tag 'touring' %>
<% if controller.controller_name == 'home' %>
  <div class="home-visual"> 
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <div class="top-content">
      <h1>RidersLink<i class="fas fa-motorcycle"></i></h1>
      <h2>一緒に走る仲間が見つかる</h2>
    </div>
  </div>
<% else %>
  <header>
    <%= render 'layouts/navbar' %>
  </header>
<% end %>
